<div class="date">
  <input
    #day
    class="day"
    [disabled]="disabled"
    (paste)="onPaste($event)"
    (input)="setOuterValue()"
    (keypress)="onKeypressDay($event)"
    (keydown)="onKeydownDay($event)"
    (blur)="onTouchedDay()"
    type="number"
    step="1"
    min="1"
    max="31"
    [placeholder]="matchGermanDate(placeholder)[0]"
  />
  <span>.</span>
  <input
    #month
    class="month"
    [disabled]="disabled"
    (paste)="onPaste($event)"
    (input)="setOuterValue()"
    (keypress)="onKeypressMonth($event)"
    (keydown)="onKeydownMonth($event)"
    (blur)="onTouchedMonth()"
    type="number"
    step="1"
    min="1"
    max="12"
    [placeholder]="matchGermanDate(placeholder)[1]"
  />
  <span>.</span>
  <input
    #year
    class="year"
    [disabled]="disabled"
    (paste)="onPaste($event)"
    (input)="setOuterValue()"
    (keydown)="onKeydownYear($event)"
    (keypress)="onKeypressYear($event)"
    (blur)="onTouchedYear()"
    type="number"
    step="1"
    min="1900"
    max="2100"
    [placeholder]="matchGermanDate(placeholder)[2]"
  />
</div>
